@use '../../base'as *;

.Button {
  @include text__lato(14px, #ffffff);
  background: $color-primary;
  font-weight: 700;
  border: none;
  padding: 20px 64px;
  border-radius: 8px;
  text-transform: uppercase;
  margin-top: 32px;
  cursor: pointer;

  &__full {
    width: 100%;
  }

  &__circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    &__transparent {
      background-color: transparent;
    }

    &__red {
      background-color: $color-primary;
    }

    &__blue {
      background-color: $secondary-color;
    }

    @each $color, $value in $colors {
      &__#{$color} {
        border: 1px solid $value;
        color: $value;
      }
    }
  }

  &__outline {
    background-color: transparent;
    padding: 0;
    @include text__lato__bold(10px, #A9AFD9);
    margin: 0;

    @each $color, $value in $colors {
      &__#{$color} {
        color: $value;
      }
    }
  }

  &.disabled {
    opacity: 0.7;
  }
}
