@import '../../base';

.AmountClient__info {
  display: flex;
  padding: 16px 32px;
  justify-content: space-between;

  &__h2, &__p {
    font-family: 'Lato';
    color: $gray_1_titulos;
  }

  &__h2 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
    font-weight: 400;
  }

  &__p {
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }


  button {
    margin: 0;
  }
}