@use '../../base' as *;

.Checkbox {
  display: flex;
  gap: 12px;


  &__item {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $gray_4;
    transition: background .5s ease;
  }

  &__item--active {
    background-color: $green-color;
    width: 20px;
    height: 20px;
    border: none;
  }

  &__info {
    font-family: 'roboto';
    @include text__neutrals(12px, #676f8f);
    font-weight: 300;
    margin: 0;

    a {
      font-weight: 400;
      color: #676f8f;
    }
  }
}