@import '../../base';
@import '../infouser';

.Price {
  padding: 44px 32px;

  &__minmax {
    display: flex;
  }

  svg {
    margin: 0 12px;
  }


  &__p {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: $gray_2_paragraph;
  }
}