@use '../../base' as *;

.Select {
  border: 1px solid #C5CBE0;
  border-right: none;
  color: $gray_1_titulos;
  outline: none;
  background: none;
  border-radius: 4px 0 0 4px;
  height: 56px;
  font-size: 16px;
  padding: 15px;
  background-image: url('../../../assets/arrow-icon.svg');
  background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  min-width: 96px;
}
