@import '../../base';

.Info {
  display: flex;
  align-items: center;
  padding-top: 48px;

  @include tablet {
    flex-direction: column-reverse;
  }

  &__text {
    width: calc(100% - 112px);
    max-width: 200px;
    margin: 56px 0;

    @include tablet {
      width: 100%;
      max-width: 320px;
    }
  }

  &__h1, &__h2 {
    font-family: 'lato';
  }

  &__h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: $gray_1_titulos;
    
    @include tablet {
      font-size: 12px;
    }
  }

  &__h1{
    font-size: 28px;
    font-weight: normal;
    line-height: 36px;
    letter-spacing: -0.6px;
    color: $gray_1_titulos;
    margin: 8px 0 12px 0;

    @include tablet {
      font-size: 36px;
      margin: 4px 0 16px;
    }
  }

  &__span {
    color: $color-primary;
  }

  &__p {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: $gray_2_paragraph;

    @include tablet {
      font-size: 14px;
      max-width: 288px;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    margin-bottom: -73px;
    width: 112px;
    height: 243px;
    background-repeat: no-repeat;
    background-image: url('../../../assets/Login/ImageBannerLogin.svg');
    
    @include tablet {
      background-image: url('../../../assets/Login/ImageBannerLarge.svg');
      position: relative;
      width: 320px;
      height: 250px;
      margin: 0;
      margin-top: 56px;
    }

    @include desktop {
      margin-top: 96px;
    }
  }

}