
@import '../../login/info';
@import '../infouser';
@import '../../base';

.Tab__item {
  border-bottom: 1px solid #D7DBF5;
  display: flex;
  margin-bottom: 24px;

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
  }

  &__contain {
    margin-left: 16px;
    margin-bottom: 32px;
    width: 100%;
  }

  &__paragraph {
    @extend .Info__p;
    margin-bottom: 16px;
    transition: all .3s ease;

    &__noshow {
      color: transparent;
      position: absolute;
    }

    &__show {
      position: relative;
      color: $gray_2_paragraph;
    }
  }

  &__h2 {
    @extend .InfoUser__car;
  }
}