
.Switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 31px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 28px;
      width: 28px;
      left: 1px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    &.round {
      border-radius: 18px;

      &:before {
        border-radius: 50%;
      }
    }
  }
}

input:checked + .Switch__span {
  background-color: #7CC954;
}

input:checked + .Switch__span:before {
  -webkit-transform: translateX(21.5px);
  -ms-transform: translateX(21.5px);
  transform: translateX(21.5px);
}