@import '../base';

.Login {
  display: block;

  &__form {
    padding: 0 32px 54px;
    @include tablet {
      width: 50%;
      display: flex;
      justify-content: center;
    }
  }

  &__banner {
    background: $neutrals-color;

    @include tablet {
      background-image: url('../../assets/Login/BackgroundBanner.svg');
      background-repeat: no-repeat;
      background-color: #ecf0ff;
      background-size: contain;
      max-width: 645px;
      width: 50%;
    }
  }

  &__info {
    padding: 0 32px;

    @include tablet {
      display: flex;
      justify-content: center;
      margin-left: 70px;
    }
  }

  &__copy {
    display: none;
    
    @include tablet {
      display: block;
      font-family: 'Roboto';
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      color: #A3ABCC;
      margin-top: 34px;
      padding-left: 60px;
    }

    @include desktop {
      padding-left: 120px;
    }
  }

  @include tablet {
    display: flex;
    height: 100vh;
  }
}
