@import '../../base';

.InputPrice {
  border: 1px solid $gray_4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  margin: 16px 0;

  button {
    outline: none;
    border: none;
    background-color: transparent;
  }

  &__price {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }

  &__input {
    display: flex;
  }
}