@import '../../base';


.Form {
  margin-top: 40px;
  font-family: 'lato';
  font-size: 24px;
  line-height: 32px;
  color: $gray_1_titulos;

  @include tablet {
    max-width: 288px;
    margin-top: 110px;
  }

  @include desktop {
    margin-top: 146px;
  }

  &__legend {
    border: none;
    margin-bottom: 24px;
  }

  &__fieldset {
    border: none;
    padding: 0;

    @include tablet {
      button {
        width: auto;
      }
    }
  }

  &__select {
    display: flex;

    .Input {
      input {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
