@import '../../base';

.TabsMenu {
  &__tabs {
    display: flex;
    margin-bottom: 32px;

    button {
      outline: none;
      border: none;
      text-transform: uppercase;
      width: 33.3%;
      background-color: transparent;
      border-bottom: 1px solid #e4e8f7;
      padding-bottom: 24px;
      font-family: 'Lato';
      font-weight: 700;
      font-size: 10px;
      line-height: 16px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.8px;
      color: $gray_1_titulos;
      justify-content: center;
      transition: all 0.5s ease;
    }

    .active {
      border-bottom: 2px solid $color-primary;
      color: $color-primary;
    }
  }
  &__contain {
    padding: 0 32px;
  }
}
